<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"
		th:href="@{/css/styles.css}" />
</head>
<body>
		
		<h1>Enter your information to log in</h1>
	<div th:if="${param.error}">
			<p>Invalid User Name or Password</p>
	</div>
	<div th:if="${param.logout}">
		<p>You are now logged out</p>
	</div>
	<div class="login">
		<form action="#" th:action="@{/login}" method="post">
		<h3>User Name:</h3>	 <input type="text" name="username" placeholder="Username">
			<br>
		<h3>	Password:</h3> <input type="text" name="password" placeholder="Password">
			<br>
			<input type="submit" value="Log in">
		</form>
	</div>
	
	<p id="no-register">Not registered? <a href="#" th:href="@{/newUser}">Register here</a></p>
	<br>
	<a href="#" th:href="@{/}">Back to index</a>

</body>
</html>